<References::Formatter::Apa::Parts::People @as="author" @people={{@reference.authors}} />
{{#if @reference.year}}
  (<span itemprop="datePublished">{{@reference.year}}</span>{{@reference.yearSuffix}}).
{{/if}}